body{
    background-color: #EFF7F6;
}

@media screen and (max-width: 1280px) {
    html {
      font-size: 13.5px !important; /* Sets 1rem to 14px */
    }
  }

  html {
    font-size: 14px !important; /* Sets 1rem to 14px */
  }

.global_column_flex{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.global_dark_button{
    background-color: #1D3557 !important;
}